/* header section style */
/* *width: 3020px; */
header{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    height: 850px;
    
}
header > img{
    width: 635px;
height: 800px;
flex-shrink: 0;

}
.header-text1{
    margin-top: 197px;
    margin-left: 240px;
    margin-bottom: 0px;
    display: flex;
    
width: 708px;

flex-shrink: 0;
    color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
}
.header-text2{
    margin-left: 240px;
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 635px;
}
.header-btn{
    margin-left: 240px;
    border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px
}

/* main part */
.mainpart1{
margin-left: 240px;
margin-right: 240px;
margin-top: 178px;
}
.mainpart1-heading{
    text-align: center;
}
ul{
    display: flex; 
    justify-content: center;
    align-items: center;
}
li{
    width: 464px;
height: 538px;
/* flex-shrink: 0; */
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
margin: 24px;
align-content: space-between;
}
